* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Fundo Branco */
.conteint {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
}

/* Fonte para o Menu */
@font-face {
    font-family: roboto;
    src: url(/src/Fontes/Roboto-Regular.ttf);
}

/* Menu de opções */
.menu-options-fav {
    margin: 65px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 20px;
}

/* Opções do Menu */
.item-menu-option-fav {
    font-size: 27px;
    font-family: roboto;
    font-weight: 300;
    background-color: #fff96f;
    color: #121212;
    width: 350px;
    text-align: center;
    margin: 6px;
    padding: 7px;
    border: 3px solid black;
    border-radius: 10px;
}
.active {
    background-color: #fff41a;
}

/* Fundo dos favoritos */
.favoritos {
    margin-top: 65px;
    color: white;
}

/* Todos os Produtos */
.products-fav {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
/* Apenas um Produto */
.product-fav {
    width: 25%;
    display: inline-block;
    transition: 200ms linear;
    position: relative;
}

.product-image-fav {
    height: 260px;
    width: 100%;
    margin-bottom: 3px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    border: 1px solid gray;
    transition: 200ms linear;
}
.product-image-fav:hover {
    cursor: pointer;
    transform:translate(0px, -2px);
    border: 3px solid #edb600;
}

.preco-fav {
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    display: inline;
    color: black;
}

#remove-fav-image {
    background-image: url('/src/Imagens-Kids-Play/icone-remove-fav.jpg');
    width: 30px;
    height: 30px;
}

.btn-voltar {
    border: 2px solid black;
    border-left: none;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    padding: 0px 8px 0px 0px;
}

/* Botão Voltar */
.seta-texto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Seta do Botão Voltar */
.seta-l {
    width: 38px;
    height: 38px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #fff53b;
}
/* Texto do botão voltar */
.voltar {
    padding-left: 3px;
    font-family: roboto;
    font-size: 28px;
    color: #121212;
    font-weight: 900;
}

/* Titulo da pagina */
.titulo-pag {
    color: black;
    font-family: roboto;
    font-size: 38px;
    font-weight: 600;
}

/* Sem Brinquedos e Sem Pedidos*/
.no-toys {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.no-toys img {
    height: 220px;
    width: 220px;
}
.no-pedidos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.no-pedidos img {
    height: 190px;
    width: 100%;
}

/* Texto sem brinquedos */
.texto-no-toys {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: rgb(188, 188, 188, 0.5);
    border-radius: 50%;
    max-width: 480px;
    padding: 50px;
    backdrop-filter: blur(20px);
    -wekbit-backdrop-filter: blur(20px) ;
}


.area-pedidos {
    width: 90%;
}
/* Barra Amerale de Referência */
.barra-superior {
    color: #121212;
    background-color: #fff96f;
    border: 1.5px solid black;
    border-radius: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr repeat(3, 1fr) 0.25fr;
}
.text-left {
    width: 100%;
    grid-column: 2;
}
.text-right {
    grid-column: 4;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

/* Produtos a Caminho */
.produto-a-caminho {
    display: grid;
    grid-template-columns: 130px 2fr 1fr 1.2fr 0.2fr;
    width: 100%;
    margin: 15px 0px;
    border: 2px solid rgba(0, 0, 0, 0.341);
    border-radius: 20px;
}
/* Imagem do produto */
.img-produto-caminho {
    grid-column: 1;
    background-image: url('/src/Imagens-Kids-Play/brinquedo-celular.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    width: 110px;
    height: 110px;
    margin: 8px;
}

/* div Nome e Preço */
.nome-preco-produto {
    font-size: 16px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    gap: 5px;
}
.preco-produto {
    color: rgb(2, 151, 2);
}

/* Rastreio e Reembolso */
.rast-reemb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}
.rastreio, .reembolso {
    transition: 300ms linear;
}
.rastreio:hover {
    color: blue;
    cursor: pointer;
}
.reembolso:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

/* Status da Compra  */
.status-area {
    display: flex;
    justify-content: right;
    align-items: center;
}