* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Fundo Branco */
.conteint {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Fonte para o Menu */
@font-face {
    font-family: roboto;
    src: url(/src/Fontes/Roboto-Regular.ttf);
}

/* Menu de opções */
.menu-options-fav {
    margin: 80px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 20px;
}

/* Opções do Menu */
.item-menu-option-fav {
    font-size: 27px;
    font-family: roboto;
    font-weight: 300;
    background-color: #fff96f;
    color: #121212;
    width: 350px;
    text-align: center;
    margin: 6px;
    padding: 7px;
    border: 3px solid black;
    border-radius: 10px;
}
.item-menu-option-fav:last-child {
    background-color: #fff41a;
}

.favoritos {
    margin: 80px;
    background-color: rgb(165, 165, 165);
    width: 300px;
    height: 300px;
    color: white;
}

.btn-voltar {
    border: 2px solid black;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    padding: 0px 7px 0px 0px;
}

/* Botão Voltar */
.seta-texto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Seta do Botão Voltar */
.seta-l {
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 2px solid black;
    border-left: none;
    border-radius: 50%;
    background-color: #fff41a;
}
/* Texto do botão voltar */
.voltar {
    padding-left: 3px;
    font-family: roboto;
    font-size: 24px;
    color: #121212;
}